:root {
  --site-font: "Plus Jakarta Sans";
}

body {
  font-family: var(--site-font);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  opacity: 0;
  animation: slideUp 0.4s ease-out forwards;
}

.animate-slide-up:nth-child(1) {
  animation-delay: 0.1s;
}

.animate-slide-up:nth-child(2) {
  animation-delay: 0.2s;
}

.animate-slide-up:nth-child(3) {
  animation-delay: 0.3s;
}

.animate-slide-up:nth-child(4) {
  animation-delay: 0.4s;
}

.animate-slide-up:nth-child(5) {
  animation-delay: 0.5s;
}

.animate-slide-up:nth-child(6) {
  animation-delay: 0.6s;
}

.animate-slide-up:nth-child(7) {
  animation-delay: 0.7s;
}

.animate-slide-up:nth-child(8) {
  animation-delay: 0.8s;
}

.animate-slide-up:nth-child(9) {
  animation-delay: 0.9s;
}

.animate-slide-up:nth-child(10) {
  animation-delay: 1s;
}