<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else if and (eq .Section "posts") (not .Params.title) }}{{ .Date | time.Format "2 January 2006" }} | {{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
<script src="https://cdn.tailwindcss.com?plugins=typography"></script>
<script>
  tailwind.config = {
    darkMode: 'class',
  }
</script>
<script>
  (function() {
    const theme = localStorage.getItem('theme');
    if (theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    }
  })();
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/css/main.css" | relURL }}" />
{{ with resources.Get "images/favicon.png" }}
<link rel="icon" href="{{ .RelPermalink }}" />
{{ end }}
{{- if .Params.description }}
<meta name="description" content="{{ .Params.description }}" />
{{- end }}